
<div id="buttonBar">
  <button md-raised-button (click)="load()">Load</button>
  <button md-raised-button (click)="start()">Start</button>
  <!-- <button md-raised-button (click)="stop()">Stop</button> -->
  <button md-raised-button (click)="toggleSoundOnOff()">Mute</button>
  <!-- <button md-raised-button (click)="destroy()">Destroy</button> -->
</div>

<div class="tweakingBar">
  <div class="tweakingBarLabel">
    <b>Pitch</b>
  </div>
  <md-slider min="20" step="20" value="220" max="8000" [(ngModel)]="frequency" (change)="onChange()" (input)="onInput($event)" class="freqSlider" thumbLabel vertical></md-slider>
<!--   <md-slider min="20" step="20" value="220" max="8000" [(ngModel)]="frequency" (change)="onChange()" (input)="onInput($event)" class="freqSlider"></md-slider>
 --><!--   <md-slider min="20" step="20" value="220" max="10000" [(ngModel)]="frequency" (change)="onChange()" (input)="onInput($event)" class="freqSlider"></md-slider>
 -->
<!-- <input type="text" [ngModel]="mymodel" (keypress)="mymodel=$event.target.value"/>
{{mymodel}}
 -->


<!--   <md-slider flex min="20" step="20" value="220" max="10000" [(ngModel)]="frequency" (change)="onChange()" (input)="onInput($event)"></md-slider>
 --><!--   <form>
    <input type="text" id="freqInput" />
    <input type="submit" value="Set frequency" />
  </form>
 --></div>

<div class="themSliders">

 <!--  <md-slider min="1" max="5" step="0.5" value="1.5" ng-model="myValue" vertical></md-slider>
  <md-slider min="1" max="5" step="0.5" value="2.5" vertical></md-slider>
  <md-slider min="1" max="5" step="0.5" value="1.5" vertical></md-slider>
  <md-slider min="1" max="5" step="0.5" value="3.5" vertical></md-slider> -->


<!--   <md-slider min="1" max="5" step="0.5" value="3.5" vertical></md-slider> -->

<!--   <md-slider min="1" max="5" step="0.5" value="3.5" [(ngModel)]="myValue" (change)="onChange()" vertical></md-slider>
 -->

<!--   <md-slider min="1" max="5" step="0.5" value="4.5" (input)="onInputChange($event)" vertical></md-slider>
 -->
 <!-- <md-checkbox [ngModel]="toggleSound()" (change)="onChange()">Sound On/Off</md-checkbox>
  -->
<!--
 <md-slide-toggle>Reverb</md-slide-toggle>
 -->
 <md-slide-toggle [(ngModel)]="delay" (change)="toggleDelay()">Delay</md-slide-toggle>

</div>

<!-- Render SVG image of patch -->
<div id="svg" class="svg"></div>
