
@import './assets/stylesheets/normalize.css';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

/*
  Smaller checkboxes for sequnecer on mobile devices
  (Needs to be here instead of app component to overide Angular Material.)
*/

@media screen and (max-width: 640px) {
  md-checkbox.small .mat-checkbox-layout {
  	transform: scale(.78);
  	margin-right: -3px;
  	margin-left: -1px;
  }
  #svg {
    display:none;
  }
}
